{% load socialaccount %}
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src='{% static 'single_pages/images/logo.png' %}' alt="" width="60" height="48">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/blog/">Blog</a>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                {% if user.socialaccount_set.all.0.get_avatar_url %}
                                    <img class="rounded-circle" width="25px"
                                         src="{{ user.socialaccount_set_all.0.get_avatar_url }}" alt="">
                                {% else %}
                                    <img class="rounded-circle" width="25px" src="http://placehold.it/50x50" alt="">
                                {% endif %}
                                {{ user.username }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item" href="/accounts/logout/">Log Out</a>
                        </li>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#loginModal">
                            Login
                        </button>
                        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                             aria-labelledby="logInModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp
                                            Log In</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                                                   href="{% provider_login_url 'google' %}"><i
                                                        class="fab fa-google"></i>&nbsp&nbsp
                                                    Log in with
                                                    Google</a>
                                                <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                                                   href="/accounts/login/"><i
                                                        class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a role="button" class="btn btn-outline-dark btn-block btn-sm"
                                                   href="/accounts/signup/"><i
                                                        class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

<!-- Modal -->

