{% extends 'blog/base.html' %}
{% block main_area %}
    {% if post_list.exists %}
        {% for p in post_list %}
            <div class="col-offset-4 col-4  card mb-4">
                {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/1200/800" alt="random_image">
                {% endif %}
                <h2><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
                {% if p.hoot_text %}
                    <h5 class="text-muted">{{ p.hoot_text }}</h5>
                {% endif %}
                <div class="card-footer text-muted">
                    <p class="lead">
                        by <a href="#">{{ p.author|upper }}</a>
                    </p>
                </div>
                <p>{{ p.created_at }}</p>
                <p>{{ p.content | truncatewords:45 }}</p>
            </div>

        {% endfor %}
    {% else %}
        <h3>아직 게시물이 없습니다.</h3>
    {% endif %}
{% endblock %}